<div class="col-xs-offset-1 col-xs-10 col-xs-offset-1 content-box">
	<p class="tagline">The super-speedy Blackjack game! Will you be quick enough on the draw?</p>

	<p>
    <a href="/">speedJack</a> was built by Rehan Ali, a.k.a. Daddy, a.k.a. “stink bug”, for a Ruby on Rails project during <a target="_blank" href="http://www.thefirehoseproject.com/">The Firehose Project</a>. It’s a Blackjack game with a difference - you only have 1 second to decide to hold, otherwise the computer will automatically hit (draw another card) for you.
    </p>
    <p>The GitHub repository for <b><i>speedJack</i></b> can be found at <a href="https://github.com/bobbyali/blackjack-rails">https://github.com/bobbyali/blackjack-rails</a>. If you see encounter any problems, please post them on the <a href="https://github.com/bobbyali/blackjack-rails/issues">issues board</a>.
    </p>
    <p>The <b><i>speedJack</i></b> game contains the following features:
        <table class="table table-condensed table-striped summary">
            <tr><td>Players have to react to their hand quickly. They need to decide whether to hold before the timer runs out and they automatically receive a "hit" (get dealt another card).</td></tr>
            <tr><td>Single player mode vs computer.</td></tr>
            <tr><td>Multiplayer mode with unlimited additional players. (Haven't tested how many it'll accept yet!)</td></tr>
            <tr><td>Responsive design works on mobile screens. (Dedicated iOS and Android versions are planned.)</td></tr>
            <tr><td>Career scores for each player are shown on a leaderboard.</td></tr>
        </table>
    </p>
	
	<p align="center"><%= image_tag 'bio.jpg', :class => 'img-responsive' %></p>

    <p>
    <b>CREDITS</b><br/>
    Senior Developer: Daddy (<a href="https://github.com/bobbyali">github</a>).<br/>
    Junior Developer: Adam (<a href="https://github.com/bobbyali">github</a>).<br/>
    Advisor / Rails Guru / "Los Amigos": Ken (<a href="https://github.com/kenmazaika">github</a>).    
    </p>	
</div>