<div class="col-xs-offset-1 col-xs-10 col-xs-offset-1 content-box">
	<p class="tagline">The super-speedy Blackjack game! Will you be quick enough on the draw?</p>

	<p>
    <a href="/">speedJack</a> was built by Rehan Ali, a.k.a. Daddy, a.k.a. “stink bug”, for a Ruby on Rails project during <a target="_blank" href="http://www.thefirehoseproject.com/">The Firehose Project</a>. It’s a Blackjack game with a difference - you only have 1 second to decide to hold, otherwise the computer will automatically hit (draw another card) for you.
    </p>
    <p>The GitHub repository for speedJack can be found at <a href="https://github.com/bobbyali/blackjack-rails">https://github.com/bobbyali/blackjack-rails</a>.
    </p>
    <p>speedJack features the following:
        <ul>
            <li>Single player vs computer</li>
            <li>Multiplayer with unlimited additional players (haven't tested how many it'll accept!</li>
            <li>Players have to react to their hand quickly. They need to decide whether to hold before the timer runs out and they automatically receive a "hit" (get dealt another card).
        </ul>
    </p>
	
	<p align="center"><%= image_tag 'bio.jpg', :class => 'img-responsive' %></p>

    <p>
    <b>CREDITS</b><br/>
    Senior Developer: Daddy (<a href="https://github.com/bobbyali">github</a>).<br/>
    Junior Developer: Adam (<a href="https://github.com/bobbyali">github</a>).<br/>
    Advisor / Rails Guru / "Los Amigos": Ken (<a href="https://github.com/kenmazaika">github</a>).    
    </p>	
</div>