<div class="col-xs-offset-1 col-xs-10 col-xs-offset-1 content-box">
	<p class="tagline">The super-speedy Blackjack game! Will you be quick enough on the draw?</p>
	<p>This is a Blackjack game with a difference - you only have a few seconds to decide to hold, otherwise the computer will automatically hit (draw another card) for you.</p>
	<br/>
	<p><b>Users Hall of Fame: </b>
		<table class="table table-condensed table-striped summary">
			<tr>
				<th>Player</th>
				<th>Career Score</th>
				<th>Last Signed In</th>
			</tr>			
			<% @users.each do |u| %>
				<tr>
					<td><%= u.email %></td>
					<td><%= u.get_player_score %></td>
					<% unless u.current_sign_in_at.nil? %>
						<td><%= time_ago_in_words(u.current_sign_in_at) %> ago</td>
					<% else %>
						<td>Never signed in</td>
					<% end %>
				</tr>		
			<% end %>
		</table>
	</p>
</div>