<div class="booyah-box">
	<h1>Game</h1>
	<% @players.each do |player| %>
	<p>Cards for player <b><%= player.user.email %></b>:
		<ul id="player_<%= player.id %>">
			<% player.output_hand.each do |card| %>
				<li><%= card %></li>
			<% end %>
		</ul>
	</p>
	<% end %>
</div>
