<div class="booyah-box">
	<h1>Game</h1>
	<% @players.each do |player| %>
	
	<% if @current_player == player.user.id && current_user.id == player.user.id %>
		<p>Cards for YOU:</b>:
	<% elsif @current_player == player.user.id %>
		<p>Cards for active player: <b><%= player.user.email %></b>:			
	<% else %>
		<p>Cards for player <b><%= player.user.email %></b>:
	<% end %>		
		<ul id="player_<%= player.id %>">
			<% player.output_hand.each do |card| %>
				<li><%= card %></li>
			<% end %>
		</ul>
	</p>
	<% end %>
</div>
