body {
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;  
}

.header {
  text-align: center;
  margin-bottom: 10px;
}

.content-box {
  text-align: center;
  margin-top: 50px;
}

.cards-box {
  margin-top: 20px;
  margin-bottom: 50px;
}

.tagline {
  font-weight: bold;
  font-size: 22px;
}

.summary {
  width: 60%;
}

.options {
  display: inline-block;
}

.btn {
  font-weight: bold;
  font-size: 30px;
  display: inline-block;
}

.timer {
  font-weight: bold;
  color: red;
  font-size: 35px;
  display: inline-block;
}

.warning {
  font-weight: bold;
  color: red;
  font-size: 35px;
  display: inline-block;
}

.clear {
  clear:both;
}

ul {
  text-align: center;
}
table {
  text-align: center;
  margin-left:auto; 
  margin-right:auto; 
}

th {
  width: 200px;
  text-align: center;
}